:root {
    --dark: #696663;
    --green-dark: #797D62;
    --green-light: #9B9B7A;
    --pink: #D9AE94;
    --beige: #F1DCA7;
    --yellow: #FFCB69;
    --orange: #D08C60;
    --brown: #997B66;
    --white: #ffffff;
    --grey: #dfd9d3;
    --grey-light: #f5efe8;
}

:root[theme='black-and-white'] {
    --dark: black;
    --green-dark: white;
    --green-light: white;
    --beige: white;
    --orange: black;
    --brown: black;
    --white: #ffffff;
}
