$font-roboto-styles: 'Regular'400,
'Medium'500,
'Bold'700;

$font-handjet-styles: 'Regular'400,
'Medium'500,
'Bold'700;

@each $type,
$weight in $font-roboto-styles {
  @font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto/Roboto-#{$type}.woff') format('woff'),
    url('./fonts/Roboto/Roboto-#{$type}.woff') format('woff');
    font-weight: $weight;
    font-style: normal;
  }
}

@each $type,
$weight in $font-handjet-styles {
  @font-face {
    font-family: 'Handjet';
    src: url('./fonts/Handjet/Handjet-#{$type}.woff2') format('woff2'),
    url('./fonts/Handjet/Handjet-#{$type}.woff2') format('woff2');
    font-weight: $weight;
    font-style: normal;
  }
}

.handjetText {
  font-family: $font-handjet;
}
