.page500 {
    position: relative;
        
    width: 100%;
    height: 100dvh;

    font-family: $font-roboto;

    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        text-align: center;

        display: flex;
        flex-direction: column;
        gap: $ui-step * 6;

        &__description {
            display: flex;
            flex-direction: column;
            gap: $ui-step;

            &__title {
                width: 100%;

                font-size: $ui-step * 9;
                font-weight: 800;
            }
        }
    }

    &__statusBlock {
        position: absolute;
        top: $ui-step * 4;
        left: $ui-step * 4;
    }
}