.creation-block {
  height: 64px;
  display: flex;
  align-items: center;
  gap: 32px;
}

.input-block {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.controls {
  display: flex;
  gap: 8px
}
